*{
    color: white;
    background-color:#556052 ;
    font-style: normal;
    font-size: 20px;
    margin: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img{
    size: 0px;
    padding: 0px;
    width: 100px;
    width: 200px;
    height: 300px;  
}
h4{
    color:black;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}
h2{
    color: black;
    font-weight: 200px;
    font-size: 28px;
    text-align: center;
    text-decoration: underline;
}
.link1{
    color:cyan;
    font-style: italic;
}
.link2{
    color:cyan;
    font-style: italic; 
}
.link3{
    color:cyan;
    font-style: italic;
}
footer{
    color:black;
    text-align: center;
}
.navbar1{
    list-style-type: none;
    display: -webkit-inline-flex;
   
}
.navbar2{
    list-style-type: none;
    text-align: center;
    display: -webkit-inline-flex;
}
.nav{
    color: cyan;
    font-size: 16px;
    display: inline;
}
.nav1{
    color: cyan;
    font-size: 16px;
}
.nav2{
    color: cyan;
    font-size: 16px;
}
.nav3{
    color: cyan;
    font-size: 16px;
    
}